:root {
    --color-principal: rgba(16, 38, 83, 1);
    --epilogue-font-family: "Epilogue", Helvetica;
    --epilogue-font-weight: 400;
    --epilogue-font-size: 12px;
    --epilogue-letter-spacing: 0px;
    --epilogue-line-height: normal;
    --epilogue-font-style: normal;
    --inter-regular-font-family: "Inter", Helvetica;
    --inter-regular-font-weight: 400;
    --inter-regular-font-size: 30px;
    --inter-regular-letter-spacing: -0.75px;
    --inter-regular-line-height: 36px;
    --inter-regular-font-style: normal;
    --semantic-cell-upper-font-family: "Inter", Helvetica;
    --semantic-cell-upper-font-weight: 400;
    --semantic-cell-upper-font-size: 12px;
    --semantic-cell-upper-letter-spacing: 0px;
    --semantic-cell-upper-line-height: 16px;
    --semantic-cell-upper-font-style: normal;
    --semantic-data-font-family: "Inter", Helvetica;
    --semantic-data-font-weight: 400;
    --semantic-data-font-size: 14px;
    --semantic-data-letter-spacing: 0px;
    --semantic-data-line-height: 20px;
    --semantic-data-font-style: normal;
    --semantic-heading-1-font-family: "Inter", Helvetica;
    --semantic-heading-1-font-weight: 400;
    --semantic-heading-1-font-size: 16px;
    --semantic-heading-1-letter-spacing: 0px;
    --semantic-heading-1-line-height: 24px;
    --semantic-heading-1-font-style: normal;
    --semantic-heading-2-font-family: "Inter", Helvetica;
    --semantic-heading-2-font-weight: 400;
    --semantic-heading-2-font-size: 18px;
    --semantic-heading-2-letter-spacing: 0px;
    --semantic-heading-2-line-height: 28px;
    --semantic-heading-2-font-style: normal;
}
